node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.next
.nextui-cache
.nextui-colors.json
.nextui-tokens.json
.nextui-types.d.ts
.nextui-types.tsbuildinfo
.nextui-types.tsbuildinfo.json
.nextui-types.tsbuildinfo.json.gz
.nextui-types.tsbuildinfo.json.gz.br
.nextui-types.tsbuildinfo.json.gz.br.gz

*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test
*.env.production



