/* PDFViewer.module.css */
.container {
    border: 1px solid rgba(27, 31, 38, 0.3);
    height: 750px;
}

.toolbar {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.zoomControls {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.downloadButton {
    background-color: #FF4F00;
    color: #F5F5F4;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
