.container {
    display: flex;
    height: calc(100vh - 160px);
    overflow: hidden;
    gap: 20px;
    padding: 20px;
}

.leftColumn, .rightColumn {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card, .chatCard {
    flex-grow: 1;
}

.chatCardBody {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
